@import "./mixins";

nav {
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 8rem;
  }

  .right-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;

    .username {
      color: var(--clr-text-primary);
      font-size: var(--fs-500);
      font-weight: bold;
      text-decoration: none;
    }

    .friends,
    .notifications {
      background-color: transparent;
      border: none;
      cursor: pointer;

      img {
        height: 1.25rem;
      }
    }

    .notifications {
      position: relative;

      .badge {
        position: absolute;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        color: var(--clr-text-primary);
        font-size: var(--fs-300);
        top: -0.5rem;
        right: -0.5rem;
        background-color: var(--clr-primary);
        border-radius: 1000vmax;
      }
    }

    .log-out {
      @include button(var(--fs-400));
      border: none;
      color: var(--clr-text-primary);
      background-color: var(--clr-primary);
    }
  }
}
