@import "./mixins";

.profile {
  &__container {
    color: var(--clr-text-primary);
    padding-inline: 8rem;

    button {
      border-radius: var(--br-primary);
      background-color: var(--clr-primary);
      padding: 0.5rem 0.75rem;
      font-weight: bold;
      color: var(--clr-text-primary);
      cursor: pointer;
      border: none;
    }

    h2 {
      font-size: var(--fs-800);
    }
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;
  }
}
