@import "./mixins";

.profile__game-modal {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    --accent-color: var(--clr-neutral-400);
    position: absolute;
    width: min(calc(100% - 2rem), 20rem);
    padding: 1rem;
    border-radius: var(--br-primary);
    flex-wrap: wrap;
    background-color: var(--clr-bg-200);
  }

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-weight: bold;
    flex-wrap: nowrap;

    &:focus-within {
      --accent-color: var(--clr-accent);
    }

    label {
      color: var(--accent-color);
      transition: color 150ms ease;
    }
  }

  input {
    width: 4rem;
    font-size: 2rem;
    text-align: center;
    outline: none;
    background-color: transparent;
    color: var(--clr-text-primary);
    border: none;
    border-bottom: 3px solid var(--accent-color);
    transition: border-bottom 150ms ease;
  }

  button {
    @include button(var(--fs-400));
    border: none;
    background-color: var(--clr-primary);
    color: var(--clr-text-primary);
  }
}
