.sideline {
  ul {
    position: unset;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    row-gap: 0;
  }

  &__move-group {
    display: flex;
    gap: 0.25rem;
  }

  &__move {
    cursor: pointer;
  }

  &__move.highlighted {
    font-weight: bold;
  }

  &__move-counter {
    cursor: default;
  }
}
