.sideline {
  ul {
    position: unset;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    row-gap: 0;
    padding: 0.25rem;
  }

  &__move-group {
    display: flex;
    gap: 0.25rem;
  }

  &__move {
    cursor: pointer;
    padding: 0 0.25rem;
  }

  &__move.highlighted {
    font-weight: bold;
    background-color: var(--clr-neutral-600);
    border-radius: var(--br-primary);
  }

  &__move-counter {
    cursor: default;
  }
}
