.top-lines {
  background-color: var(--clr-bg-200);
  color: var(--clr-text-primary);
  height: 100%;
  border-radius: var(--br-primary);
  padding: 1rem;

  .lines {
    margin-top: 1rem;
  }

  &__line {
    display: grid;
    grid-template-columns: 7ch 1fr;
    column-gap: 0.75rem;

    & + & {
      margin-top: 0.5rem;
    }

    &__eval {
      padding: 0.125rem 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      height: fit-content;
      color: var(--clr-neutral-900);
      background-color: var(--clr-neutral-100);
      border-radius: var(--br-primary);
    }

    &__eval.black-adv {
      color: var(--clr-neutral-100);
      background-color: var(--clr-neutral-900);
    }

    &__moves {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      column-gap: 0.5rem;
      --row-height: 1.25rem;
      max-height: calc(var(--row-height) * 3);
      overflow: hidden;
      * {
        height: var(--row-height);
      }
    }

    &__move-group {
      display: flex;
      gap: 0.25rem;
    }
  }
}
