@import "/src/styles/mixins";
.chat {
  background-color: var(--clr-bg-200);
  border-radius: var(--br-primary);
  padding: 1rem;
  height: 100%;
  color: var(--clr-text-primary);
  display: flex;
  flex-direction: column;

  * {
    flex: 0 0 auto;
  }

  &__window {
    width: 100%;
    height: auto;
    position: relative;
    overflow-y: hidden;
    flex-grow: 1;
    margin-top: 0.5rem;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: min(30%, 5rem);
      background: linear-gradient(to bottom, var(--clr-bg-200), transparent);
    }

    .chat__messages {
      position: absolute;
      inset: 0;
      overflow-y: auto;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;  

    @include game-screen {
      flex-direction: row;
    }
  }

  &__input-button {
    @include button(var(--fs-500));
    width: 100%;
    border: none;
    color: var(--clr-text-primary);
    background-color: var(--clr-primary);
    
    @include game-screen {
      width: min-content;
    }
  }

  &__input-wrapper {
    @include input-wrapper();
    margin-top: 0.5rem;
    flex-grow: 1;
    flex-shrink: 1;
    width: auto;
  }
}
