@import "/src/styles/mixins";
.game-over {
  inset: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-text-primary);
  background-color: rgba(13, 11, 14, 0.75);
  backdrop-filter: blur(2px);

  z-index: 1003;

  &-modal {
    width: min(20rem, calc(100% - 1rem));
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    flex-direction: column;
    border-radius: var(--br-primary);

    .exit-modal {
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 1rem;
      height: 1rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .game-over__text {
      padding: 1rem;
      width: 100%;
      text-align: center;

      .main-message {
        font-size: 2rem;
      }
    }

    &[data-status="won"] {
      .game-over__text {
        background-color: var(--clr-primary);
      }
    }

    &[data-status="lost"],
    &[data-status="drawn"] {
      .game-over__text {
        background-color: var(--clr-neutral-400);
      }
    }

    .game-over__buttons {
      display: flex;
      padding: 1rem;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 1rem;
    }

    a,
    .new-game {
      @include button(var(--fs-400));
      border: none;
      background-color: var(--clr-primary);
      color: var(--clr-text-primary);
      display: block;
      text-decoration: none;
      text-align: center;
      width: 50%;
    }

    .new-game {
      background-color: var(--clr-neutral-400);
    }
  }
}
