@import "/src/styles/mixins";

.home {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__main {
    @include centered-children(column);
    @include large-screen {
      flex-direction: row;
    }
    gap: 1rem;

    button {
      width: 12rem;
      height: 12rem;
      border: none;
      background-color: var(--clr-bg-200);
      border-radius: var(--br-primary);
      cursor: pointer;
      padding: 0.5rem;
      transition: padding 250ms ease;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 95%;
        transition: width 250ms ease;
      }

      &:hover img {
        width: 100%;
      }
    }
  }
}
